
<div ng-controller="viewAllTweets">
    
    <table st-table="searchCollection" st-safe-src="allTweets" class="table table-striped">
        <thead>
            <tr>
                <th> Tweet Reference Number</th>
                <th> Tweet Content</th>
            </tr>
            <tr>
                <th colspan="2">
                    <input st-search="" class="form-control" placeholder="Global Search" type="text"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  ng-repeat="tweet in searchCollection">
                <td>{{tweet.tweetID}}</td>
                <td>{{tweet.tweetContent}}</td>
            </tr>
        </tbody>

    </table>
</div>

