@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data Clustering Web App</h1>
    <p class="lead">Implementing Clustering Methods on Boston Marathon Bombing Tweets</p>
</div>
